%h1= @user.name


/ - if policy(Bookmark.new).create?
/   = link_to "New Bookmark", new_topic_bookmark_path(@topic), class: 'btn btn-success'

%h2 
  My Bookmarks
  %p
    - @topics.each do |topic|
      = topic.title

  %p
    - @user_bookmarks.each do |bookmark|
      %p= link_to bookmark.url, bookmark.url


      -if policy(bookmark).destroy?
        = link_to "Delete Bookmark", [bookmark.topic, bookmark], method: :delete, class: 'btn btn-danger'

%h2 
  My Liked Bookmarks
  %p
    - @topics.each do |topic|
      = topic.title

  %p
    - @liked_bookmarks.each do |bookmark|
      %p= link_to bookmark.url, bookmark.url
      = render partial: 'likes/like', locals: {bookmark: bookmark }
